<main class="main minh-100vh">
     <section class="py-0 overflow-hidden text-center">
                <div class="bg-container overlay parallax" data-rellax-percentage="0.5" style="background: url(<%= asset_path 'forum2.jpg' %>)">
                    <div class="bg-video vimeo" data-property="{videoURL:'https://vimeo.com/159035843', stopAt:45, autoPlay:true, mute:true, showControls: false, containment: 'self', loop: false}"></div>
                </div>
                <div class="container">
                    <div class="row h-100vh align-items-center">
                        <div class="col">
                            <h1 class="text-white text-uppercase fs-4 fs-lg-6">Forums</h1>
                            <%= link_to 'Créer un forum', new_forum_path, class:'btn btn-primary btn-lg px-6'%>
                        </div>
                    </div>
                </div>
            </section>

<section class="pb-0">
  <div class="container">
    <div class="row">
      <%@forum.reverse_each do |f|%>
      <div class="col-lg-8 order-lg-2 pb-6 pb-lg-0">
        <div class="mb-8">
          <h2 class="mb-4 text-uppercase"><%= f.topic %></h2>
          <p class="text-700 fw-medium"><%= f.description %></p>
          <div class="mt-4 d-flex justify-content-between">
            <div class="w-50">
              <% if f.user.avatar.attached? %>
              <%= image_tag f.user.avatar, class:'rounded-circle float-left mr-2', width:'40', height:'40'%>
              <% else %>
              <%= image_tag "mystere1.png", class:'rounded-circle float-left mr-2', width:'40', height:'40'%>
              <% end %>
              <p class="fs--1 lh-13 text-700"><%= f.user.first_name %><br /><span class="fs--3"><%= f.created_at %></span></p>
            </div>
            <%= link_to "En voir plus", f %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row justify-content-md-center">
      ​<p class="text-center">
        <%= will_paginate @forum, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
      </p>
    </div>
  </div>
</section>
</main>