<div class="container">
<div class="card">
<div class="card-header" style= "font-family:'gill Sans'; background-color: #212121; color: #FFFFFF;">

  <center><h4>Pour créer un nouveau sujet c'est    <%=link_to 'Cliquez ici', new_forum_path, class:"btn btn-primary"%></h4></center>

</div>
</div>

<div class="row">
<%@forum.reverse_each do |f|%>
  <div class="col-sm-12">
    <div class="card">
      <h2><%= f.topic %></h2>


      <%=image_tag("forum.jpg", :class=>"w-100", :alt=>"bg3")%>
      <%= f.description %>
      <br><br>
      <%= link_to "En voir plus", f %>
      <p></p>
    </div>
  </div>
  <%end%>
</div>

</div>
    ​<p class="text-center">
    <%= will_paginate @forum, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
  </p>

</div>