<div class="header">
  <h1>Forum</h1>
</div>
<div class="card">
  <div class="card-header">
    <h3>Pour créer un nouvel sujet de conversation c'est <%=link_to 'ici', new_forum_path%></h3>
  </div>
</div>


<%@forum.reverse_each do |f|%>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2><%= f.topic %></h2>


      <%=image_tag("forum.jpg", :class=>"w-100", :alt=>"bg3")%>
      <%= f.description %>
      <br><br>
      <%= link_to "En voir plus", f %>
      <p></p>
    </div>
  </div></div>
<%end%>