<br><br><br><br><br><br><br><br>
<div class="my-margin" style="margin: 0 auto; width: 600px;">
<%= form_tag url_for(action: 'create'), method: "post" do %>

<div class="form-group my-form">
<%= label_tag 'Topic' %>
<%= text_field_tag 'topic', @new_forum.topic, class: "form-control" %>
</div>

<br /> <br />
<div class="form-group my-form">
<%= label_tag 'Description' %>
<%= text_field_tag 'description', @new_forum.topic, class: "form-control" %>
</div>
<br>

<%= submit_tag "Créer un topic", class: "btn btn-primary" %>

<%end%>
<br><br><br><br><br><br>