<div class="media">
  <div class="media-left">

    <%= image_tag "mystere1.png", size: "64x64", alt: 'avatar' %>

  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= conversation.originator.first_name %> <br>
      <small><b>Subjet: </b><%= conversation.subject %></small><br>
      <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
    </h4>
    <%= truncate conversation.messages.last.body, length: 145 %>
    <%= link_to "Voir", conversation_path(conversation), class: "btn btn-outline-primary"  %>
  </div>
</div>