<%= render 'layouts/carrousel2'%>
<<<<<<< HEAD
<div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Works everywhere</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Always available</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Customizable</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container card mt-10 mb-15 pt-10 pb-10" style="border-radius:8px;">
        <div class="row ">
            <div class="highlight-clean" style="min-height:500px;">
        <div class="container">
          <div class="card">
            <div class="intro">
=======

<div class="container card border-0 mt-10 mb-15 pt-10 pb-10" style="border-radius:8px;">
  <div class="row ">
    <div class="highlight-clean" style="min-height:500px;">
      <div class="container">
        <div class="card border-0">
          <div class="features-clean">
            <div class="container">
              <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><center><i class="fas fa-id-badge fa-5x"></i></center><br>
                 <center><h3 class="name"><B>Rentrez en contact</B></h3></center> 
                 <center><p class="description">Contactez les artistes autour de vous en un clique.</p></center>
               </div>
               <div class="col-sm-6 col-lg-4 item"><center><i class="fas fa-calendar-week fa-5x"></i></center><br>
                <center><h3 class="name"><B>Créez des événements</B></h3></center>
                <center><p class="description">Partagez vos événements avec la communauté.</p></center>
              </div>
              <div class="col-sm-6 col-lg-4 item"><center><i class="fas fa-comments fa-5x"></i></center><br>
               <center> <h3 class="name"><B>Créez des topics</B></h3></center>
               <center><p class="description">Alimentez et créez des sujets de conversations.</p></center>
             </div>
           </div>
         </div>
       </div>
       
     </div>
   </div>
>>>>>>> 1d80ffe0c24ea816792d73e1415cb2ea6d63570b

<center><h1>Evénements organisés par la communauté</h1></center>
<div class="row">
  <%@events.reverse_each do |event|%>
  <div class="col-sm-4">
    <div class="card border-0">
      <h2><%= event.title %></h2>


      <%=image_tag("musicman.jpg", :alt=>"bg3", style:"height:260px; width:auto;")%>
      <%= event.description %>
      <br><br>
      <%= link_to "En voir plus", event %>
      <p></p>
    </div>
  </div>
  <%end%>
</div>

</div>
</div>
