<%= render 'layouts/carrousel2'%>

    <div class="container card border-0 mt-10 mb-15 pt-10 pb-10" style="border-radius:8px;">
        <div class="row ">
            <div class="highlight-clean" style="min-height:500px;">
        <div class="container">
          <div class="card border-0">
            <div class="features-clean">
        <div class="container">
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><center><i class="fas fa-id-badge fa-5x"></i></center><br>
                   <center><h3 class="name">Rentrez en contact</h3></center> 
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><center><i class="fas fa-calendar-week fa-5x"></i></center><br>
                    <center><h3 class="name">Créez des événments</h3></center>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><center><i class="fas fa-comments fa-5x"></i></center><br>
                   <center> <h3 class="name">Créez des topics</h3></center>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
            </div>
        </div>
    </div>
            
          </div>
        </div>
    </div>
        </div>
<center><h1>Evénements organisés par la communauté</h1></center>
<div class="row">
<%@events.reverse_each do |event|%>
  <div class="col-sm-4">
    <div class="card border-0">
      <h2><%= event.title %></h2>


      <%=image_tag("musicman.jpg", :alt=>"bg3", style:"height:260px; width:auto;")%>
      <%= event.description %>
      <br><br>
      <%= link_to "En voir plus", event %>
      <p></p>
    </div>
  </div>
  <%end%>
</div>

    </div>
</div>
 