<div class="card-body">
  <center><%= image_tag "Rockband.png", style: 'z-index: 0; width:auto; height:710px;'%></center>
  <div class="carousel-caption d-none d-md-block">
    <h3 class="display-4 animated fadeInUpBig" style="font-size: 70px;">Les Profils Utilisateurs</h3>
    <p class="lead animated fadeInUpBig" style="font-size: 35px;">Retrouve ici les Profils des personnes inscrites sur le site</p>
  </div>

</div><br><br>


<!--page title end-->
<div class="container">
  <div class="row justify-content-md-center">
    <% @users.reverse_each do |user| %>
    <%= link_to user do %>
    <div class="flip-card col-lg2-2" style="width: 300px; height: 300px;">
      <div class="flip-card-inner" style="width: 300px; height: 300px;">
        <div class="flip-card-front" style="width: 300px; height: 300px;">

          <% if user.avatar.attached? %>

          <%= image_tag user.avatar, style:"width:300px; height:300px;", class: "card-img-top img-fluid", alt: 'avatar' %>

          <% else %>
          <%= image_tag "mystere1.png", style:"width:300px;height:300px;" %>
          <% end %>

        </div>
        <div class="flip-card-back" style="width: 300px; height: 300px; padding-top:75px;">
          <h1><%= user.first_name %></h1>
          <p><%= user.instrument %></p>
          <p><%= user.level %></p>
        </div>
      </div>
    </div> 
    <% end %>
    <%end%>

  ​<p class="text-center">
    <%= will_paginate @users, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
  </p>
</div>


</div>
