<!-- Site Overlay -->





<!--page title end-->
<div class="container">
<div class="row justify-content-md-center">
  <% @users.each do |user| %>

  <div class="flip-card col-lg2-2" style="width: 300px; height: 300px;">
    <div class="flip-card-inner" style="width: 300px; height: 300px;">
      <div class="flip-card-front" style="width: 300px; height: 300px;">
        <%= link_to user do %>
        <% if user.avatar.attached? %>

          <%= image_tag user.avatar, style:"width:300px; height:300px;", class: "card-img-top img-fluid", alt: 'avatar' %>

        <% else %>
        <%= image_tag "mystere1.png", style:"width:300px;height:300px;" %>
        <% end %>
        <% end %>
      </div>
      <div class="flip-card-back" style="width: 300px; height: 300px;">
        <h1><%= user.first_name %></h1>
        <p><%= user.instrument %></p>
        <p><%= user.level %></p>
      </div>
    </div>
  </div> 
  <%end%>

</div>


​
<%= will_paginate(@users, :renderer => WillPaginate::ActionView::LinkRenderer) %>
<!--back to top-->
<a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
<!-- jQuery first, then Tether, then Bootstrap JS. -->



</div>
