<!-- Site Overlay -->
<div class="site-overlay"></div>
​
​
<div class="page-titles-img title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("<%= image_path "hero_bg_2.jpg" %>")'>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 ml-auto mr-auto">
        <h1 class='text-uppercase'>Portfolio 4 cols </h1>
​
      </div>
    </div>
  </div>
</div><!--page title end-->
​
​
<div class="container">
  <div class="row">
    <% @users.each do |user| %>
    <div class="col-sm-3" style="width: 208">
      <div class="card mx-5"  style="width: 100%;">
        <%= link_to user do %>
        <%if user.avatar.attached?%>
        <%= image_tag user.avatar.variant(resize: "208x208"), class: "card-img-top img-fluid", alt: 'avatar' %>
        <%else%>
        <%=image_tag "mystere1.png", class: "card-img-top img-fluid"%>
        <%end%>
        <% end %>
        <div class="card-body" >
          <h4 class="card-body" style="width: 100%;"><%=user.first_name%></h4>
          <%= link_to "Voir le profil", user, class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
​
​
​
​
<!--back to top-->
<a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
​
