    <section class="site-wrapper">
        <div class="container no-padding resume-header bg-dark">
            <div class="row no-margin align-items-center">
                <div class="col-lg-6 no-padding">
                    <div class="resume-header-text">
                        <% if @user.first_name == nil %>
                        <h2 class="h1 mb0">
                            Anonymous
                        </h2>
                        <%else%>
                        <h2 class="h1 mb0">
                            <%= @user.first_name.capitalize + " " + @user.last_name.capitalize %>
                        </h2>
                        <br>
                        <% end %>
                        <%if @user.level == nil %>
                        <h3 class="lead">Musicien</h3>
                        <% else %>
                        <h3>Niveau: <%= @user.level %></h3>
                        <% end %>
                        <% if @user.email.empty? %>
                        <p>Email: non renseigné</p>
                        <% else %>
                        <p>Email: <%= @user.email %></p>
                        <% end %>
                        <% if @user.instrument == nil %>
                        <p>Instrument: non renseigné</p>
                        <% else %>
                        <p>Instrument: <%= @user.instrument %></p>
                        <% end %>
                        <% if @user.genre == nil %>
                        <p>Genre: non renseigné</p>
                        <% else %>
                        <p>Genre favoris: <%= @user.genre %></p>
                        <% end %>

                        <% if @user.phone == nil %>
                        <p>Téléphone: non renseigné</p>
                        <% else %>
                        <p>Téléphone: <%= @user.phone %></p>
                        <% end %>
                        <% if @user.age == nil %>
                        <p>Age: non renseigné</p>
                        <% else %>
                        <p>Age: <a href=""><%= @user.age %></a></p>
                        <br>
                        <% end %>                        
                        <div class="clearfix mb30 social-buttons">
                            <%=link_to image_tag("facebook-icon.png", size: "30x30"), @user.facebook %>
                            <%=link_to image_tag("linkedin-icon.png", size: "30x30"), @user.linkedin %>
                            <%=link_to image_tag("twiter-icon.png", size: "30x30"), @user.twitter %>
                            <%=link_to image_tag("skype-icon.svg", size: "25x25"), @user.skype %>
                            <%=link_to image_tag("youtube-icon.svg", size: "30x30"), @user.youtube %>
                        </div>
                        <div class="buttons">
                            <%= link_to "Me contacter", new_conversation_path, :class => "btn btn-primary btn-rounded" %>
                            <a href="#folio" data-scroll class="btn btn-light btn-rounded">Mes projets</a>
                        </div>
                        <br>
                        <% if current_user.id == @user.id %>
                        <div class="buttons">
                            <%= link_to "Editer mon profil", edit_user_registration_path, :class => "btn btn-light btn-rounded" %>

                        </div>
                        <% else %>
                        <% nil %>
                        <% end %>
                    </div>
                </div>
                <!-- avatar -->
                <div class="col-lg-6 no-padding">


                    <!-- fin avatar -->
                    <% if current_user.id == @user.id %>
                      <h3>Changer d'avatar ?</h3>
                      <%= form_tag user_avatars_path(@user), multipart: true do %>
                      <%= file_field_tag :avatar %>
                      <%= submit_tag "mettre à jour", :class => "btn btn-primary btn-rounded" %>
                      <% end %>

                    <% else %>
                      <% nil %>
                      <% end %>
                    <% if @user.avatar.attached? %>
                    <%= image_tag @user.avatar.variant(resize: "478x385"), alt: 'avatar' %>
                    <% else %>
                    <%= image_tag "mystere1.png", size: "385x385", alt: 'avatar' %>
                    
                    <% end %>
                                        
                </div>
            </div>  
        </div><!--container hEADER--> 
        <div class="container pt60 pb60 text-center">
            <div class="row">
                <div class="col-lg-8 mr-auto ml-auto">
                    <h3 class="text-primary center-title mb20 h1">A propos de</h3>
                    <p class="lead">
                        <%=@user.description%>
                    </p>
                </div>
            </div>
        </div><!--container aBOUT-->
    </section> <!-- #main wrapper for boxed layout -->