<div class="container">
<div class="card">
<div class="card-header" style= "font-family:'gill Sans'; background-color: #212121; color: #FFFFFF;">
  <center><h4>Pour créer un nouvel évènement c'est    <%=link_to 'Cliquez ici', new_event_path, class:"btn btn-primary"%></h4></center>
</div>
</div>



<div class="row justify-content-md-center">
  <% @events.reverse_each do |event| %>
  <div class="col-sm-6">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-4">
      <%= link_to event do %>
        <%= link_to image_tag("musicman.jpg", size: "166x140", alt: 'avatar'), event %>
        <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
                    <h5 class="card-title"> <%=event.title%> </h5>
        <p class="card-text"> <%=event.location%> </p>
        <p class="card-text"><small class="text-muted"> <%=event.start_date%> </small></p>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <% end %>
  </div>
    ​<p class="text-center">
    <%= will_paginate @events, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
  </p>
</div>