
<div class="card">
  <div class="card-header">
    <h3>Pour créer un nouvel événement c'est <%=link_to 'ici', new_event_path%></h3>
  </div>
</div>
<% @events.reverse_each do |e| %>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">

  <%= link_to image_tag("musicman.jpg", size: "166x140", alt: 'avatar') %>

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <%=e.title%> </h5>
        <p class="card-text"> <%=e.location%> </p>
        <p class="card-text"><small class="text-muted"> <%=e.start_date%> </small></p>
      </div>
    </div>
  </div>
</div>
<% end %>
