
<div class="container" style="padding:auto; max-width:1000px;">
	<br><h1>Créer un évènement :</h1><br>
	<div class="my-margin">
		<%= form_tag url_for(action: 'create'), method: "post" do %>

		<div class="form-group">
			<%= label_tag 'Titre' %>
			<%= text_field_tag 'title', @new_event.title, class: "form-control", style:"height: 40px; font-size: 18px;" %>
		</div>
		<br /> <br />

		<div class="form-group">
			<%= label_tag 'Description'%>
			<%= text_area_tag 'description', @new_event.description, class: "form-control", style:"height: 40px; font-size: 18px;" %>
		</div>

		<br /> <br />
		<div class="form-group">
			<%= label_tag 'Durée en minutes'%>
			<%= number_field_tag 'duration', @new_event.duration, class: "form-control", style:"height: 40px; font-size: 18px;" %>
		</div>
		<br /> <br />
		<div class="form-group">
			<%= label_tag 'Date'%>
			<%= date_field_tag 'start_date', @new_event.start_date, class: "form-control", style:"height: 40px; font-size: 18px;" %>
		</div>

		<br /> <br />
		<div class="form-group">
			<%= label_tag 'Prix en €'%>
			<%= number_field_tag'price', @new_event.price, class: "form-control", style:"height: 40px; font-size: 18px;" %>
		</div>

		<br /> <br />
		<div class="form-group">
			<%= label_tag 'Lieu'%>
			<%= text_field_tag 'location', @new_event.location, class: "form-control", style:"height: 40px; font-size: 18px;" %>
		</div>

		<br /> <br />

		<%= submit_tag "Créer", class: "btn btn-lg btn-primary", style:"height: 40px; font-size: 18px;" %>
		<br><br>
		<%end%>


		<% if @new_event.errors.any? %>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Nous n'avons pas réussi à créer l'évènement pour la (ou les) raison(s) suivante(s) </strong>  
			<ul> <% @new_event.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>

		</div></div>