
<!--  -->

           <section>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 mb-5">
                                    <div class="d-flex flex-row" data-aos="fade-right">
                                        <div>
                                            <i class="fas fa-map-marker-alt fa-3x zmdi-hc-fw"></i>
                                        </div>
                                        <div class="flex-shrink-1">
                                            <h2 class="mb-4 fs-1 fw-medium text-uppercase">Lieu</h2>
                                            <p class="fs--1"><%=@event.location%></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-5">
                                    <div class="d-flex flex-row" data-aos="fade-left">
                                        <div>
                                            
                                            <i class="fas fa-play-circle fa-3x zmdi-hc-fw"></i>
                                        </div>
                                        <div class="flex-shrink-1">
                                            <h2 class="mb-4 fs-1 fw-medium text-uppercase">Début</h2>
                                            <p class="fs--1"><%=@event.message_time%></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-5">
                                    <div class="d-flex flex-row" data-aos="fade-right">
                                        <div>
                                            <i class="fas fa-hourglass-start fa-3x zmdi-hc-fw"></i>
                                        </div>
                                        <div class="flex-shrink-1">
                                            <h2 class="mb-4 fs-1 fw-medium text-uppercase">Durée</h2>
                                            <p class="fs--1"><%=@event.duration%></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-5">
                                    <div class="d-flex flex-row" data-aos="fade-left">
                                        <div>
                                            <i class="fas fa-pencil-alt fa-3x zmdi-hc-fw"></i>
                                        </div>
                                        <div class="flex-shrink-1">
                                            <h2 class="mb-4 fs-1 fw-medium text-uppercase">Description</h2>
                                            <p class="fs--1"><%=@event.description%></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-5 mb-lg-0">
                                    <div class="d-flex flex-row" data-aos="fade-right">
                                        <div>
                                            <i class="fas fa-coins fa-3x zmdi-hc-fw"></i>
                                        </div>
                                        <div class="flex-shrink-1">
                                            <h2 class="mb-4 fs-1 fw-medium text-uppercase">Prix</h2>
                                            <p class="fs--1"><%=@event.price%> euros</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex flex-row" data-aos="fade-left">
                                        <div>
                                            <i class="fas fa-user-check fa-3x zmdi-hc-fw"></i>
                                        </div>
                                        <div class="flex-shrink-1">
                                            <h2 class="mb-4 fs-1 fw-medium text-uppercase">Créé par</h2>
                                            <p class="fs--1"><%=@event.user.first_name%></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </section>
            