

<!-- Main Content -->
<main class="main minh-100vh">
  <!-- Section -->
  <section class="py-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 order-lg-2">
          <div class="row minh-100vh h-100 align-items-center">
            <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "col px-lg-6 px-xl-8 px-xxl-11 py-9 py-lg-4" } do |f| %>
            <%= devise_error_messages! %>
            <h1>Connexion</h1>

            <h5 class="mb-5 text-700">Identifiez-vous</h5>


            <div class="form-group mb-4">
             <%= f.label :email, "Email" %><br />
             <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", placeholder: "Adresse email" %>
           </div>
           <div class="form-group mb-4">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg", placeholder:"Mot de passe"%>


          </div>
          <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end %>
          <%= f.submit "Valider", class: "btn btn-lg btn-secondary btn-block mb-4" %>
          <% end %> 


        </div>
      </div>

      <div class="col-lg-6 order-lg-1 px-0 py-9">
        <div class="bg-container overlay overlay-10" style="background-image: url(../assets/img/backgrounds/bg-13.jpg)"></div>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->
</main>