<header class="spyre-navbar navbar navbar-expand-lg bg-secondary navbar-dark fixed-top align-items-center" data-text-color="#ffffff">
  <div class="container">
    
    <%=link_to image_tag("logo3.png", size: "120x72", alt: "Brand"), root_path, :class => 'navbar-brand' %>



    <div class="menu-toggle">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="cross">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <!-- Spyrenav Overlay -->
  <div class="spyre-navbar-overlay overlay-slide" style="background-color: black;">
    <div class="container">
      <div class="row">
        <div class="spyre-navbar-nav-container col-md-6 col-lg-5 col-xl-4 bg-white ext-l">
          <nav class="spyre-navbar-nav">
            <ul class="spyre-nav">
              <li class="spyre-nav-item"><%=link_to "Les profils", users_path, :class => "spyre-nav-link" %></li>
              <li class="spyre-nav-item"><%=link_to "Forum", forums_path, :class=>"spyre-nav-link" %></li>
              <li class="spyre-nav-item"> <%=link_to "évènements", events_path, :class=>"spyre-nav-link" %></li>
              <% if user_signed_in? %>
              <li class="spyre-nav-item dropdown">

                <a href="#" class="spyre-nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profil</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                  <li class="dropdown-menu-item"><%=link_to "Courrier", mailbox_inbox_path, :class=>"dropdown-menu-link" %></li>
                  <li class="dropdown-menu-item"><%=link_to "Mon Profil", user_path(current_user.id), :class=>"dropdown-menu-link"%></li>
                  <li class="dropdown-menu-item"> <%=link_to "Déconnexion", destroy_user_session_path, :class => "dropdown-menu-link", method: :delete %></li>
                </li>                                
              </ul>                                          
              <% else %>   
              <li class="spyre-nav-item dropdown">

                <a href="#" class="spyre-nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Connexion</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-menu-item"><%=link_to "Connexion", new_user_session_path, :class=>"dropdown-menu-link" %></li>
                  <li class="dropdown-menu-item"><%=link_to "Inscription", new_user_registration_path, :class=>"dropdown-menu-link" %></li>
                </li>                                
              </ul>  
              <% end %>

            </nav>
          </div>

          <div class="col-lg-7 col-xl-8 d-none d-md-block">
            <div class="bg-container overlay overlay-10" style="background-image: url(/img/nav.jpg)"></div>
            <div class="d-flex flex-column h-100">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Spyrenav Overlay -->
</header>