<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #212121;">
  <%=link_to image_tag("logo3.png", size: "90x60", alt: "Brand"), root_path,:class => 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
         <%=link_to "Les profils", users_path, :class => "nav-link my-nav"%>
      </li>
      <li class="nav-item active">

       <%=link_to "Team", team_path, :class=>"nav-link my-nav"%>
       </li>
      </ul>
      <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
      <li class="nav-item active">

           <%=link_to "My Profile", user_path(current_user.id), :class=>"nav-link my-nav"%>
       </li>

       <li class="nav-item active">
          <%=link_to "Log out", destroy_user_session_path, :class => "nav-link my-nav", method: :delete%>
          </li>

      <%else%>
      <li class="nav-item active">

          <%=link_to "Log-in", new_user_session_path, :class=>"nav-link my-nav"%>
      </li>
      <li class="nav-item active">
          <%=link_to "Sign_up", new_user_registration_path, :class=>"nav-link my-nav"%>
      </li>
      <%end%>
    </ul>

  </div>
</nav>

       <script src="https://code.jquery.com/jquery-3.3.1.js"integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
