<!DOCTYPE html>
<html>

  <head>

    <title>Fetchmeaband</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
  </head>


  <body>

      <%= render partial: 'layouts/navigation'%>



    <% flash.each do |key, value| %>
    <div class="text-center <%= flash_class(key) %>">
      <%= value %>
    </div>
<% end %>
    <%= yield %>


     <%= render partial: 'layouts/footer'%>     
         <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>